.statusBar {    
    grid-area: status;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--color-font-active);
    background-color: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));
}

.menuBar {    
    grid-area: navigation;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.middlePanel {    
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-font-active);
    border-right: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.rightPanel {
    grid-area: content;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-font-active);
    border-right: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.farRightPanel {    
    grid-area: annexe;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: hsl(var(--color-background-h), var(--color-background-s), 97%);
}

.middlePanel, .rightPanel, .farRightPanel {
    grid: "ariane" 4em "panel" calc(100% - 4em) / 100%;
    display: grid;
}

.navigation {
    grid-area: navigation;
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.5));
}

.menuBar svg {
    fill: var(--color-font-active);
}

.menuBar > a {
    display: block;
    width: 100%;
    height: 4em;
    padding: 30%;
    color: var(--color-font);
    border-left: 0.3em solid hsla(0, 0%, 0%, 0);
    transition: border 200ms, color 200ms;
}

.menuBar > a.active {
    color: var(--color-font-active);
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.5));
    border-left: 0.3em solid var(--color-accent);
}

.menuBar > a:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 2));
}
