.statusBar {    
    grid-area: status;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-shade-one);
}

.menuBar {    
    grid-area: navigation;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.middlePanel {    
    grid-area: sidebarariane / auto / sidebar / auto;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-font-active);
}

.rightPanel {    
    grid-area: contentariane / auto / content / auto;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: grey;
}

.farRightPanel {    
    grid-area: annexariane / auto / annex / auto;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: red;
}
