<div class="container-fluid">
  <div class="marginTop" id="interventionContent">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading myPanel">
          <h3 class="panel-title">Treatments</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class='col-sm-6'>
              <div class="form-group">
                <div class="btn-group" role="group">
                  <!--ng-init="EXCAT='Disease Modifying'">-->
                  <button type="button"
                  class="btn btn-info"
                  ng-disabled="getDisabledFields()"
                  ng-class="{inactive: EXCAT!='Disease Modifying'}"
                  ng-click="EXCAT='Disease Modifying'; addDoseProperty('EXCAT')">Disease Modifying</button>
                  <button type="button" class="btn btn-info" ng-disabled="getDisabledFields()"
                  ng-class="{inactive: EXCAT!='Symptomatic'}"
                  ng-click="EXCAT='Symptomatic'; addDoseProperty('EXCAT')">Symptomatic</button>
                  <button type="button" class="btn btn-info" ng-disabled="getDisabledFields()"
                  ng-class="{inactive: EXCAT!='Comorbidity'}"
                  ng-click="EXCAT='Other'; addDoseProperty('EXCAT')">Other</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class='col-sm-4'>
              <div class="form-group">
                <label class="control-label">Treatment</label>
                <input type="text" ng-model="EXTRT"
                uib-typeahead="treatment for treatment in drugsFactory | filter:$viewValue | limitTo:8"
                class="form-control"
                ng-disabled="disableTreatmentProperty()"
                ng-blur="addExposure()">
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label class="control-label">Dose</label>
                <input type="text" ng-model="EXDOSE"
                placeholder = "eg. 30" class="form-control"
                ng-blur="addDoseProperty('EXDOSE')"
                ng-disabled="disableTreatmentProperty()">
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label class="control-label">Unit</label>
                <input type="text" ng-model="EXDOSU"
                placeholder = "eg. mg" class="form-control"
                ng-blur="addDoseProperty('EXDOSU')" ng-disabled="disableTreatmentProperty()">
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label class="control-label">Form</label>
                <input type="text" ng-model="EXDOSFRM"
                placeholder = "eg. IV, SC, Oral" class="form-control"
                ng-blur="addDoseProperty('EXDOSFRM')" ng-disabled="disableTreatmentProperty()">
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label class="control-label">Frequency</label>
                <input type="text" ng-model="EXDOSFRQ"
                placeholder = "eg. 3 / Day" class="form-control"
                ng-blur="addDoseProperty('EXDOSFRQ')" ng-disabled="disableTreatmentProperty()">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading myPanel">
          <h3 class="panel-title">Drug Interruptions</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead><tr>
              <th class="col-sm-2">Stop Date</th>
              <th class="col-sm-2">Restart Date</th>
              <th class="col-sm-6">Reason</th>
              <th class="col-sm-2"></th>
            </tr></thead>
            <tbody>
              <tr>
                <tr ng-repeat="interruption in getInterruptions()">
                  <td><input type="text" class="form-control DTC_DayMonthYear" ng-model="interruption.endOfFirst.EXENDTC_display"></td>
                  <td><input type="text" class="form-control DTC_DayMonthYear" ng-model="interruption.startOfSecond.EXSTDTC_display"></td>
                  <td><select class="form-control" ng-model="interruption.endOfFirst.EXADJ" ng-change="editExposure(exposure.EXADJ)">
                    <option>Pregnancy</option>
                    <option>Convenience</option>
                    <option>Adverse Event</option>
                    <option>Unknown</option></select>
                  </td>
                  <!-- <td><a href="#" ng-click="deleteInterruptions()">Delete</a></td> -->
                </tr>
                <tr >
                  <td><input type="text" class="form-control DTC_DayMonthYear" ng-change="setEXENDTC_Interruption()" ng-model="EXENDTC_Interruption_display" ng-disabled="getDisabledFields()"></td>
                  <td><input type="text" class="form-control DTC_DayMonthYear" ng-change="setEXSTDTC_Interruption()"ng-model="EXSTDTC_Interruption_display" ng-disabled="getDisabledFields()"></td>
                  <td> <select class="form-control" ng-model="EXADJ_Interruption" ng-disabled="disableInterruptionProperty()">
                    <option>Pregnancy</option>
                    <option>Convenience</option>
                    <option>Adverse Event</option>
                    <option>Unknown</option></select>
                  </td>
                  <td><a href="#" ng-click="addInterruption()" ng-disabled="disableInterruptionProperty()">Add</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading myPanel">
            <h3 class="panel-title">Drug Discontinuation</h3>
          </div>
          <div class="panel-body">
            <div class="col-sm-4">
              <div class="form-group">
                <label class='control-label'>End Date</label>
                <input type="text" class="form-control DTC_DayMonthYear" ng-model="EXENDTC_displayDate" ng-change="setEXENDTC()" ng-disabled="disableDoseProperty()"/>
              </div>
            </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="input-group marginBottom">
            <label for="reasonForDiscontinuing">Reason for discontinuing</label>
            <select class="form-control"
            id='reasonForDiscontinuing'
            ng-change="addEXADJ_Discontinuation()"
            ng-model="EXADJ_Discontinuation"
            ng-disabled="disableDoseProperty()">
            <option value="PatientPreference">Patient Preference</option>
            <option value="DiseaseProgression">Disease Progression</option>
            <option value="AdverseEvent">Mild Adverse Event</option>
            <option value="AdverseEvent">Moderate Adverse Event</option>
            <option value="AdverseEvent">Severe Adverse Event- Death</option>
            <option value="AdverseEvent">Severe Adverse Event- Life Threatening</option>
            <option value="AdverseEvent">Severe Adverse Event- Permanent/Serious Disability</option>
            <option value="AdverseEvent">Severe Adverse Event- Requires/Prolongs Hospitalization</option>
            <option value="AdverseEvent">Severe Adverse Event- Congenital Anomaly/Birth Defect</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
