@import './fonts.css';

:root {

    /* stylelint-disable-next-line */
    --font-size: 0.9rem;
    --font-family: 'Optimise', menu, sans-serif;
    --color-accent-h: 188;
    --color-accent-s: 64%;
    --color-accent-l: 64%;
    --color-accent: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));
    --color-error-h: 339;
    --color-error-s: 93%;
    --color-error-l: 27%;
    --color-error: hsl(var(--color-error-h), var(--color-error-s), var(--color-error-l));
    --color-active-nav-h: 339;
    --color-active-nav-s: 90%;
    --color-active-nav-l: 50%;
    --color-active-nav: hsl(var(--color-active-nav-h), var(--color-active-nav-s), var(--color-active-nav-l));
    --color-background-h: 0;
    --color-background-s: 0%;
    --color-background-l: 13%;
    --color-background: hsl(var(--color-background-h), var(--color-background-s), var(--color-background-l));
    --color-shade-one-h: 333;
    --color-shade-one-s: 65%;
    --color-shade-one-l: 75%;
    --color-shade-one: hsl(var(--color-shade-one-h), var(--color-shade-one-s), var(--color-shade-one-l));
    --color-shade-two-h: 213;
    --color-shade-two-s: 66%;
    --color-shade-two-l: 50%;
    --color-shade-two: hsl(var(--color-shade-two-h), var(--color-shade-two-s), var(--color-shade-two-l));
    --color-font-grey-scale: 130;
    --color-font: rgba(var(--color-font-grey-scale), var(--color-font-grey-scale), var(--color-font-grey-scale), 255);
    --color-font-active: rgba(255, 255, 255, 255);
    --color-border-grey: hsl(var(--color-background-h), var(--color-background-s), 80%);
    --color-button-red: hsl(0, 89%, 61%);
    --color-button-red-lighter: hsl(0, 100%, 67%);
    --color-button-green: hsl(157, 89%, 50%);
    --color-button-green-lighter: hsl(157, 100%, 60%);
}

* {
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    white-space: normal;
    text-decoration: none;
    vertical-align: top;
    scroll-behavior: smooth;
    outline: none;
}

div[id=compat] {
    display: none !important;
}

html,
body {
    color: var(--color-font);
    font-size: var(--font-size);
    font-family: var(--font-family);
    background: linear-gradient(to top right, var(--color-shade-two), var(--color-shade-one));
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: unset;
    top: 0;
    left: 0;
    position: absolute;
}

body > #root {
    display: grid;
    grid: "navigation sidebar content annexe fringe" calc(100% - 2em) "navigation status status status status" 2em / 4em 0 calc(60% - 2.5em) calc(40% - 2.5em) 1em;
    width: 100%;
    height: 100%;
}

a:hover,
a:hover * {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font-family: var(--font-family);
    font-size: 1em;
    display: inline-block;
    height: 2.7em;
    line-height: 2em;
    width: 100%;
    padding: 0 0.7em;
    outline: none;
}

input[type='checkbox'] {
    height: 1.5em;
    line-height: 1em;
    margin: 0 0.5em;
    width: auto;
}

input,
textarea,
select {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 97%);
    color: var(--color-background);
}

input:hover,
textarea:hover,
select:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 94%);
}

input::placeholder,
textarea::placeholder {
    color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 4));
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: var(--color-background);
    -webkit-box-shadow: 0 0 0px 1000px hsl(var(--color-accent-h), var(--color-accent-s), calc(var(--color-accent-l) * 1.5)) inset;
    transition: background-color 0s ease-in-out 0s;
}

button {
    background-color: var(--color-accent);
    color: var(--color-font-active);
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button:hover {
    background-color: hsl(var(--color-accent-h), var(--color-accent-s), calc(var(--color-accent-l) * 1.05));
}

label {
    display: inline-block;
    margin-bottom: 0.6em;
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h2 {
    font-size: 1.7em;
    line-height: 0.7em;
    font-variant-caps: all-small-caps;
    color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 2));
}

h4 {
    font-size: 1.1em;
    line-height: 1em;
    color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 2));
}

svg {
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    height: 2em;
    line-height: 2.7em;
    text-align: left;
    vertical-align: middle;
}

pre {
    white-space: pre;
}

a {
    color: inherit;
}