.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker-popper {
    z-index: 10000;
}

.react-datepicker__tab-loop {
    display: inline;
}

.react-datepicker__tab-loop__start,
.react-datepicker__tab-loop__end {
    display: none;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    height: 24px;
}

.react-datepicker__navigation--previous:hover {
    border-right-color: #b3b3b3;
}

.react-datepicker__navigation--next:hover {
    border-left-color: #b3b3b3;
}