.statusBar {    
    grid-area: status;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--color-font-active);
    background-color: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));
    padding: 0.35em 1.2em;
}

.statusBar > span:not(.rightPush):not(:first-child) {
    padding: 0 2em;
}

.statusIcon {
    display: inline-block;
    height: 90%;
    width: 2em;
    padding-right: 0.1em;
}

.statusIcon svg {
    fill: var(--color-font-active);
}

.rightPush {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-right: 1.2em;
}

.menuBar {    
    grid-area: navigation;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.middlePanel {    
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-font-active);
    border-right: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.rightPanel {
    grid-area: content;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-font-active);
    border-right: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.farRightPanel {    
    grid-area: annexe;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: hsl(var(--color-background-h), var(--color-background-s), 97%);
}

.farRightPanel input,
.farRightPanel textarea,
.farRightPanel select {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 93%);
    color: var(--color-background);
}

.farRightPanel input:hover,
.farRightPanel textarea:hover,
.farRightPanel select:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 91%);
}

.fullscreenPanel {
    grid-area: content / content / auto / annexe;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-font-active);
    z-index: 10;
}

.middlePanel, .rightPanel, .farRightPanel, .fullscreenPanel {
    grid: "ariane" 4em "panel" calc(100% - 4em) / 100%;
    display: grid;
}

.navigation {
    grid-area: navigation;
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 1.5));
}

.menuBar svg {
    fill: var(--color-font-active);
}

.menuBar > br,
.menuBar > a {
    display: block;
    width: 100%;
    height: 4em;
    line-height: 4em;
    padding: 30%;
    color: var(--color-font);
    border-left: 0.3em solid hsla(0, 0%, 0%, 0);
    transition: border 200ms, color 200ms;
}

.menuBar > a.active {
    color: var(--color-font-active);
    background: rgba(255, 255, 255, 0.2);
    border-left: 0.3em solid var(--color-accent);
}

.menuBar > a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.logoutButton {
    position: absolute;
    bottom: 0;
}

.errorMessage {
    grid-area: annexe-start / content / auto / annexe;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    position: relative;
    z-index: 20;
}

.errorMessageDialogBox {
    position: absolute;
    background-color: rgb(255, 80, 80);
    padding: 1.5em;
    width: 40%;
    top: 30%;
    left: 35%;
    color: white;
}

.errorMessageDialogBox > span:first-of-type {
    font-size: 2em;
    line-height: 1em;
}

.errorMessageDialogBox > div {
    background-color: rgb(255, 145, 145);
    padding: 1em;
    overflow: hidden;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 1.2em;
    max-height: 10em;
    overflow: auto;
}

.cancelButton {
    font-size: 1.5em;
    position: absolute;
    font-weight: bold;
    right: 1em;
    top: 1em;
}

.cancelButton:hover {
    cursor: pointer;
    color: black;
}

.alertMessageDialogBox {
    position: absolute;
    background-color: rgb(255, 187, 0);
    padding: 1.5rem;
    width: 40%;
    top: 30%;
    left: 35%;
    color: white;
}

.alertMessageDialogBox > span:first-of-type {
    font-size: 2em;
    line-height: 1em;
}

.alertMessageDialogBox button {
    background-color: rgb(219, 143, 0);
}

.alertMessageDialogBox button:hover {
    background-color: rgb(226, 151, 12);
}

.edssCalcBox {
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 50px 1fr;
    background-color: #3d5782;
    height: 80%;
    min-height: 400px;
    width: 80%;
    top: 10%;
    left: 10%;
    color: white;
    overflow: auto;
}

@keyframes rotating {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.syncActive {
    transform-origin: 65% 50%;
    animation: rotating 2s linear infinite;
    
}