.wrapper {
    position: absolute;
    width: 100%;
    background-color: #fff;
}

.tree span {
    word-wrap: break-word;
    white-space: nowrap;
    line-height: 1.2em;
    padding-left: 20px;
}

.tree span b {
    word-wrap: break-word;
    white-space: nowrap;
}

.tree span i {
    margin-left: -20px;
    padding-right: 8px;
}

.item {
    padding: 5px 30px 5px 10px;
}

.item:hover {
	background-color: #ddd;
}

.expandedNode, .collapsedNode, .lastChildNode {
    display: inline-block;
    font-style: normal;
}

.expandedNode::before {
    content: "⯆";
    width: 2em;
}

.collapsedNode::before {
    content: "⯈";
    width: 2em;
}

.lastChildNode::before {
    content: " ";
    width: 2em;
}
