.ariane {
    position: absolute;
    grid-area: ariane;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.ariane > a {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em;
    font-size: 1.1em;
}

.panel {
    position: relative;
    grid-area: panel;
    display: grid;
    grid-template-rows: calc(100% - 4em) 4em;
    grid-template-areas: "main" "page_navigation";
    width: 100%;
    height: 100%;
    /* padding: 1.2em; */
    overflow: auto;
    scroll-behavior: smooth;
}

.page {
    grid-area: main;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.page_navigation_buttons {
    grid-area: page_navigation;
    border-top: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%); 
    display: flex;
    justify-content: center;
}

.page_navigation_buttons div {
    margin: 1rem 7rem;
    min-width: 5rem;
    width: 20%
}