<div>
    <div class="container-fluid marginTop">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label'>Physical Health Composite</label>
                    <input type="text" ng-model="physicalHealthComposite" class="form-control" ng-disabled=true />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class='control-label'>Mental Health Composite</label>
                    <input type="text" ng-model="mentalHealthComposite" class="form-control" ng-disabled=true />
                </div>
            </div>
        </div>
    </div>
</div>