<div>
    <div class="container-fluid marginTop">
        <div class="row">
            <form style="margin-left: 2%">
                <div class="form-group">
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='0' ng-disabled=true >
                            <strong>Normal:</strong>
                            I may have some mild symptoms, mostly sensory due to MS but they do not limit my activity. If I do have an attack, I return to normal when the attack has passed.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='1' ng-disabled=true >
                            <strong>Mild Disability:</strong>
                            I have some noticeable symptoms from my MS but they are minor and have only a small effect on my lifestyle.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='2' ng-disabled=true >
                            <strong>Moderate Disability:</strong>
                            I don't have any limitations in my walking ability. However, I do have significant problems due to MS that limit daily activities in other ways.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='3' ng-disabled=true >
                            <strong>Gait Disability:</strong>
                            MS does interfere with my activities, especially my walking. I can work a full day, but athletic or physically demanding activities are more difficult than they used to be. I usually don't need a cane or other assistance to walk, but I might need some assistance during an attack.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='4' ng-disabled=true >
                            <strong>Early Cane:</strong>
                            I use a cane or a single crutch or some other form of support (such as touching a wall or leaning on someone's arm) for walking all the time or part of the time, especially when walking outside. I think I can walk 25 feet in 20 seconds without a cane or crutch. I always need some assistance (cane or crutch) if I want to walk as far as 3 blocks.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='5' ng-disabled=true >
                            <strong>Late Cane:</strong>
                            To be able to walk 25 feet, I have to have a cane, crutch or someone to hold onto. I can get around the house or other buildings by holding onto furniture or touching the walls for support. I may use a scooter or wheelchair if I want to go greater distances.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='6' ng-disabled=true >
                            <strong>Bilateral Support:</strong>
                            To be able to walk as far as 25 feet I must have 2 canes or crutches or a walker. I may use a scooter or wheelchair for longer distances.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='7' ng-disabled=true >
                            <strong>Wheelchair/ Scooter:</strong>
                            My main form of mobility is a wheelchair. I may be able to stand and/or take one or two steps, but I can't walk 25 feet, even with crutches or a walker.
                        </label>
                    </div>
                    <div class="radio marginBottom">
                        <label><input type="radio" ng-model="pddScore" value='8' ng-disabled=true >
                            <strong>Bedridden:</strong>
                            Unable to sit in a wheelchair for more than one hour.
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>