.ariane {
    grid-area: ariane;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}


.ariane .profileActions {
    position: absolute;
    padding: 1.4em;
    top: 0;
    right: 0;
    display: inline-block;
}

.profileActions a {
    line-height: 1.2em;
    display: inline-block;
}

.profileActions a span {
    padding: 0 0.5em;
}

.profileActions a:hover span {
    color: hsl(var(--color-background-h), var(--color-background-s), 20%);
}

.profileActions>a>svg {
    width: 1.2em;
    margin-left: 1.2em;
    margin-right: 0.3em;
    display: inline-block;
    fill: hsl(var(--color-background-h), var(--color-background-s), 50%);
}

.profileActions a:hover svg {
    fill: hsl(var(--color-background-h), var(--color-background-s), 20%);
}

.panel {
    grid-area: panel;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    overflow: auto;
}

.searchResultWrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -0.5rem;
}

.createPatientSign {
    font-size: 3em;
    padding-top: 0.2em;
}

.createPatientSign,
.createPatientText {
    display: block;
    width: 100%;
    text-align: center;
}

a:focus .createPatientText,
a:focus span:first-of-type:not(.createPatientSign) {
    text-decoration: underline;
}

.searchItem {
    flex: 1 0 10%;
    min-width: 25%;
    max-width: 25%;
    padding: 0 0.5rem 1rem;
    height: 8.5em;
    overflow: hidden;
    line-height: 1.2em;
    text-decoration: none !important;
}

@media (max-width: 75em) {
    .searchItem {
        min-width: calc(100% / 3);
        max-width: calc(100% / 3);
    }
}

@media (max-width: 60em) {
    .searchItem {
        min-width: 50%;
        max-width: 50%;
    }
}

@media (max-width: 45em) {
    .searchItem {
        min-width: 100%;
        max-width: 100%;
    }
}

.searchItem:hover {
    cursor: pointer;
}

.searchItem>div {
    height: 100%;
    background-color: hsl(var(--color-background-h), var(--color-background-s), 97%);
    border-bottom: 4px solid var(--color-accent);
    padding: 0.5rem;
    overflow: hidden;
}

.searchItem span:first-of-type:not(.createPatientSign) {
    line-height: 1.8em;
}

.searchItem:hover>div {
    color: hsl(var(--color-background-h), var(--color-background-s), 30%);
    background-color: hsl(var(--color-background-h), var(--color-background-s), 94%);
    border-bottom: 4px solid var(--color-shade-two);
}

.searchItem .matchedString {
    color: hsl(var(--color-shade-one-h), var(--color-shade-one-s), 70%);
}

.searchItem:hover .matchedString {
    color: hsl(var(--color-shade-one-h), var(--color-shade-one-s), 50%);
}