.booleanButton {
    display: inline-block;
    min-width: 2em;
    text-align: center;
    color: var(--color-input);
    background-color: hsl(var(--color-background-h), var(--color-background-s), 94%); 
}

.booleanButton:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 94%);
}

.booleanButton_checked {
    background-color: rgb(44, 171, 230);
    color: white;
}

.booleanButton_checked:hover {
    background-color: rgb(44, 171, 230);
    color: white;
}

.form {
    padding-left: 0em;
    font-size: 20px;
    color: rgb(99, 99, 99);
    font-weight: bold;
}

.form button {
    font-size: 1rem;
}

.form > div {
    padding-left: 0em;
    font-size: 16px;
    color: var(--color-font);
    font-weight: normal;
    border-bottom: 1px solid darkgrey;
}

.form > div > div {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 14px;
    color: grey;
    font-weight: normal;
    background-color: rgb(231, 231, 231);
}

.form > div > div > div {
    padding-left: 0em;
    font-size: 12px;
    color: grey;
    font-weight: normal;
}