.yes_no_div button {
    display: inline-block;
    width: 20%;
    margin: 3rem;
    min-width: 5rem;
}

.yes_no_div {
    text-align: center;
    padding: 2rem;
    padding-top: 5rem;
}

.no_button {
    background-color: var(--color-button-red-lighter);
}

.no_button:hover {
    background-color: var(--color-button-red);
}