.ariane {
    position: absolute;
    grid-area: ariane;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.ariane .profileActions {
    height: 100%;
    position: absolute;
    padding: 1.4em;
    top: 0;
    right: 0;
    display: inline-block;
},

.profileActions a {
    line-height: 0.8em;
    display: inline-block;
},

.profileActions a {
    line-height: 0.8em;
    display: inline-block;
},

.profileActions a span {
    padding: 0 0.5em;
}

.profileActions a:hover span {
    color: hsl(var(--color-background-h), var(--color-background-s), 20%);
}

.profileActions svg {
    width: 1.2em;
    margin-left: 1.2em;
    margin-right: 0.3em;
    display: inline-block;
    fill: hsl(var(--color-background-h), var(--color-background-s), 50%);
}

.profileActions a:hover svg {
    fill: hsl(var(--color-background-h), var(--color-background-s), 20%);
}

@media (max-width: 75em) {
    .profileActions a span {
        display: none;
    }
}

.panel {
    grid-area: panel;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    overflow: auto;
}

.noConsentAlert {
    padding: 0.4em;
    width: 100%;
    display: inline-block;
    color: var(--color-font-active);
    background-color: var(--color-shade-one);
}

.timelineBox {
    border: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
    background-color: hsl(var(--color-background-h), var(--color-background-s), 98%);
    grid-template-rows: 2em 2em 2em 2em 2em;
    width: 100%;
    display: grid;
    overflow: hidden;
    padding: 1em;
}

div.timelineVisit {
    background-color: rgb(133, 150, 176);
    color: rgb(133, 150, 176);
}

.timelineVisit {
    fill: rgb(133, 150, 176);
}

div.timelineMed {
    background-color: rgb(255, 202, 27);
    color: rgb(255, 202, 27);
}

.timelineMed {
    fill: rgb(255, 202, 27);
}

div.timelineTest {
    background-color: rgb(153, 202, 120);
    color: rgb(153, 202, 120);
}

.timelineTest {
    fill: rgb(153, 202, 120);
}

div.timelineCE {
    background-color: rgb(255, 102, 102);
    color: rgb(255, 102, 102);
}

.timelineCE * {
    fill: rgb(255, 102, 102);
}

div.timelineCEBlack {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.timelineCEBlack {
    color: rgb(0, 0, 0);
}

.history {
    font-size: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

.history td,
.history th {
    height: 1.3em;
    line-height: 1.3em;
}

.historyVisit div:nth-child(3){
    width: calc(100% + 4.5em) !important;
    margin-top: -0.5em !important;
    margin-bottom: -0.5em !important;
    margin-left: -3.5em;
    padding-left: 3.5em !important;
    padding-bottom: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;    
}

.editableTable td:nth-child(1){
    width: 1.3em;
}
.editableTable th:nth-child(1){
    width: 1.3em;
}

.history h4 {
    margin-top: 1.5em;
    margin-bottom: 0.7em;
}

.history h4 svg {
    width: 1em;
    height: 1em;
    padding: 0;
}

.history span svg {
    padding: 0em 0.5em 0.7em 0.5em;
}

.history button {
    height: 1.8em;
    line-height: 1.8em;
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 6));
}

.history button:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 6.5));
}

.history td,
.history th {
    display: table-cell;
    padding: 0.4em;
    column-gap: 0;
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 7.5));
    border: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 7));
}

.visitSelectorButton {
    font-size: 1em;
    display: inline-block;
    height: 2.7em;
    line-height: 1.9em;
    width: 100%;
    padding: 0.3em 0.8em;
    color: var(--color-background);
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 7));
}

.visitSelectorButton:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), calc(var(--color-background-l) * 6.8));
}

.activeNavLink button {
    background-color: var(--color-active-nav);
}

.activeNavLink button:hover {
    background-color: var(--color-active-nav);
}

.pregnancy {
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 80%);
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.pregnancyLast {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.newPregnancy {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.cancelButton > svg {
    width: 1em;
    fill: hsl(var(--color-background-h), var(--color-background-s), 50%);
}

.cancelButton:hover > svg {
    fill: var(--color-error);
    cursor: pointer;
}



.editButton > div {
    width: 1.2em;
    height: 1.2em;
    fill: hsl(var(--color-background-h), var(--color-background-s), 50%);
}

.editButton > div:hover {
    fill: hsl(var(--color-background-h), var(--color-background-s), 70%);
}

.activeEdit > div {
    fill: var(--color-button-red);
}

.activeEdit > div:hover {
    fill: var(--color-button-red);
}

.error {
    display: block;
    width: 100%;
    line-height: 2em;
    background-color: var(--color-error);
    color: var(--color-font-active);
    padding: 0.5em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.profileSectionActive {
    width: calc(100% + 2.4em);
    margin-left: -1.2em;
    padding: 0 1.2em;
}

.profileSectionActive {
    padding-top: 1.2em;
    margin-bottom: 1.2em;
    background-color: hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.profileSectionActive input,
.profileSectionActive select {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 97%);
}

.profileSectionActive input:hover,
.profileSectionActive select:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 100%);
}