<div>
    <div id="evokedNoSelection" ng-show="getDisabledFields()">
        Select or create an evoked potential test on the left to continue !
    </div>
    <div class="container-fluid marginTop" ng-hide="getDisabledFields()">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading myPanel">
                        <h4 class="panel-title">P100 Left</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group marginBottom">
                            <div class="btn-group" role="group">
                                <!--ng-class="{selected: vepLeftAbnormal=='Normal'}"-->
                                <!--ng-class="{selected: vepLeftAbnormal=='Abnormal'}"-->
                                <button type="button" class="btn btn-default"
                                        ng-model="vepLeftAbnormal"
                                        ng-disabled="getDisabledFields()"
                                        ng-change="saveVEPFinding('P100 Interpretation', 'Left');"
                                        uib-btn-radio="'Normal'">
                                    Normal</button>
                                <button type="button" class="btn btn-default"
                                        ng-model="vepLeftAbnormal"
                                        ng-disabled="getDisabledFields()"
                                        ng-change="saveVEPFinding('P100 Interpretation', 'Left');"
                                        uib-btn-radio="'Abnormal'">
                                    Abnormal</button>
                            </div>
                        </div>

                        <div class="input-group marginTop">
                            <span class="input-group-addon">Amplitude</span>
                            <input type="text"  class="form-control"
                                   ng-model="vepLeftAmplitude"
                                   ng-change="saveVEPFinding('P100 Amplitude', 'Left');"
                                   ng-model-options="{updateOn: 'blur'}"
                                   ng-disabled="vepLeftAbnormal==''">
                            <span class="input-group-addon">uV</span>
                        </div>
                        <div class="input-group marginTop">
                            <span class="input-group-addon">P100 Latency</span>
                            <input type="text"  class="form-control"
                                   ng-model="vepLeftLatency"
                                   ng-change="saveVEPFinding('P100 Latency', 'Left');"
                                   ng-model-options="{updateOn: 'blur'}"
                                   ng-disabled="vepLeftAbnormal==''">
                            <span class="input-group-addon">msec</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading myPanel">
                        <h4 class="panel-title">P100 Right</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group marginBottom">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        ng-model="vepRightAbnormal"
                                        ng-disabled="getDisabledFields()"
                                        ng-change="saveVEPFinding('P100 Interpretation', 'Right');"
                                        uib-btn-radio="'Normal'">
                                    Normal</button>
                                <button type="button" class="btn btn-default"
                                        ng-model="vepRightAbnormal"
                                        ng-disabled="getDisabledFields()"
                                        ng-change="saveVEPFinding('P100 Interpretation', 'Right');"
                                        uib-btn-radio="'Abnormal'">
                                    Abnormal</button>
                            </div>
                        </div>

                        <div class="input-group marginTop">
                            <span class="input-group-addon">Amplitude</span>
                            <input type="text"  class="form-control"
                                   ng-model="vepRightAmplitude"
                                   ng-change="saveVEPFinding('P100 Amplitude', 'Right');"
                                   ng-model-options="{updateOn: 'blur'}"
                                   ng-disabled="vepRightAbnormal==''" >
                            <span class="input-group-addon">uV</span>
                        </div>
                        <div class="input-group marginTop">
                            <span class="input-group-addon">P100 Latency</span>
                            <input type="text"  class="form-control"
                                   ng-model="vepRightLatency"
                                   ng-change="saveVEPFinding('P100 Latency', 'Right');"
                                   ng-model-options="{updateOn: 'blur'}"
                                   ng-disabled="vepRightAbnormal==''">
                            <span class="input-group-addon">msec</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading myPanel">
                        <h4 class="panel-title">BAEP Left</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group marginBottom">
                            <div class="btn-group" role="group">
                                <button type="button" class="gender btn btn-default" ng-class="{selected: BAEPLeftAbnormal=='Normal'}" ng-click="vepLeftAbnormal='Normal';">Normal</button>
                                <button type="button" class="gender btn btn-default" ng-class="{selected: BAEPLeftAbnormal=='Abnormal'}" ng-click="vepLeftAbnormal = 'Abnormal';">Abnormal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading myPanel">
                        <h4 class="panel-title">BAEP Right</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group marginBottom">
                            <div class="btn-group" role="group">
                                <button type="button" class="gender btn btn-default" ng-class="{selected: BAEPRightAbnormal=='Normal'}" ng-click="vepRightAbnormal='Normal';">Normal</button>
                                <button type="button" class="gender btn btn-default" ng-class="{selected: BAEPRightAbnormal=='Abnormal'}" ng-click="vepRightAbnormal = 'Abnormal';">Abnormal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading myPanel">
                        <h4 class="panel-title">SEP Left</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group marginBottom">
                            <label class='control-label'>Upper Extremity </label>
                            <!--ng-change="SEPLeftUpperAbnormal='Normal';"-->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        ng-model="SEPLeftUpperAbnormal"
                                        ng-change="saveSEPFinding('SEP', 'Left', 'Upper', SEPLeftUpperAbnormal)"
                                        ng-disabled="getDisabledFields()"
                                        uib-btn-radio="'Normal'">
                                    Normal</button>
                                <button type="button" class="btn btn-default"
                                        ng-model="SEPLeftUpperAbnormal"
                                        ng-change="saveSEPFinding('SEP', 'Left', 'Upper', SEPLeftUpperAbnormal)"
                                        ng-disabled="getDisabledFields()"
                                        uib-btn-radio="'Abnormal'">
                                    Abnormal</button>
                            </div>
                        </div>
                        <div class="form-group marginBottom">
                            <label class='control-label'>Lower Extremity </label>
                            <div class="btn-group" role="group">
                                <button type="button" class="gender btn btn-default"
                                        ng-model="SEPLeftLowerAbnormal"
                                        ng-change="saveSEPFinding('SEP', 'Left', 'Lower', SEPLeftLowerAbnormal)"
                                        ng-disabled="getDisabledFields()"
                                        uib-btn-radio="'Normal'">
                                    Normal</button>
                                <button type="button" class="gender btn btn-default"
                                        ng-model="SEPLeftLowerAbnormal"
                                        ng-change="saveSEPFinding('SEP', 'Left', 'Lower', SEPLeftLowerAbnormal)"
                                        ng-disabled="getDisabledFields()"
                                        uib-btn-radio="'Abnormal'">
                                    Abnormal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading myPanel">
                        <h4 class="panel-title">SEP Right</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group marginBottom">
                            <label class='control-label'>Upper Extremity </label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default"
                                        ng-model="SEPRightUpperAbnormal"
                                        ng-disabled="getDisabledFields();"
                                        ng-change="saveSEPFinding('SEP', 'Right', 'Upper', SEPRightUpperAbnormal)"
                                        uib-btn-radio="'Normal'">
                                    Normal</button>
                                <button type="button" class="btn btn-default"
                                        ng-model="SEPRightUpperAbnormal"
                                        ng-disabled="getDisabledFields();"
                                        ng-change="saveSEPFinding('SEP', 'Right', 'Upper', SEPRightUpperAbnormal)"
                                        uib-btn-radio="'Abnormal'">
                                    Abnormal</button>
                            </div>
                        </div>
                        <div class="form-group marginBottom">
                            <label class='control-label'>Lower Extremity </label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default"
                                        ng-model="SEPRightLowerAbnormal"
                                        ng-disabled="getDisabledFields()"
                                        ng-change="saveSEPFinding('SEP', 'Right', 'Lower', SEPRightLowerAbnormal)"
                                        uib-btn-radio="'Normal'">
                                    Normal</button>
                                <button type="button" class="btn btn-default"
                                        ng-model="SEPRightLowerAbnormal"
                                        ng-disabled="getDisabledFields();"
                                        ng-change="saveSEPFinding('SEP', 'Right', 'Lower', SEPRightLowerAbnormal)"
                                        uib-btn-radio="'Abnormal'">
                                    Abnormal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading myPanel">-->
                        <!--<h4 class="panel-title">MEP Left</h4>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div class="form-group marginBottom">-->
                            <!--<label class='control-label'>Upper Extremity </label>-->
                            <!--<div class="btn-group" role="group">-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPLeftUpperAbnormal=='Normal'}" ng-click="MEPLeftUpperAbnormal='Normal';">Normal</button>-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPLeftUpperAbnormal=='Abnormal'}" ng-click="MEPLeftUpperAbnormal='Abnormal';">Abnormal</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group marginBottom">-->
                            <!--<label class='control-label'>Lower Extremity </label>-->
                            <!--<div class="btn-group" role="group">-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPLeftLowerAbnormal=='Normal'}" ng-click="MEPLeftLowerAbnormal='Normal';">Normal</button>-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPLeftLowerAbnormal=='Abnormal'}" ng-click="MEPLeftLowerAbnormal='Abnormal';">Abnormal</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading myPanel">-->
                        <!--<h4 class="panel-title">MEP Right</h4>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div class="form-group marginBottom">-->
                            <!--<label class='control-label'>Upper Extremity </label>-->
                            <!--<div class="btn-group" role="group">-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPRightUpperAbnormal=='Normal'}" ng-click="MEPRightUpperAbnormal='Normal';">Normal</button>-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPRightUpperAbnormal=='Abnormal'}" ng-click="MEPRightUpperAbnormal='Abnormal';">Abnormal</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group marginBottom">-->
                            <!--<label class='control-label'>Lower Extremity </label>-->
                            <!--<div class="btn-group" role="group">-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPRightLowerAbnormal=='Normal'}" ng-click="MEPRightLowerAbnormal='Normal';">Normal</button>-->
                                <!--<button type="button" class="gender btn btn-default" ng-class="{selected: MEPRightLowerAbnormal=='Abnormal'}" ng-click="MEPRightLowerAbnormal='Abnormal';">Abnormal</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
