<div>
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="test in $data | orderBy:'-LBTEST':true">
            <td title="'Count'" filter="{ LBTEST: 'text'}" sortable="'LBTEST'" class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">{{test.LBTEST}}</span>
                    <input type="text" class="form-control"
                           ng-model="haematology.tests[test.LBORRES]"
                           ng-disabled="getDisabledFields();"
                           ng-change="saveLabResult(test.LBTEST, haematology.tests[test.LBORRES])" />
                </div>
            </td>
            <td title="'Found'" class="col-sm-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="haematologyIndicator.indicators[test.LBNRIND]"
                            ng-click="saveResultIndicator(test.LBTEST, haematologyIndicator.indicators[test.LBNRIND]);"
                            ng-disabled="getDisabledFields();"
                            uib-btn-radio="'Normal'">
                        Normal</button>
                    <button type="button" class="btn btn-default" ng-model="haematologyIndicator.indicators[test.LBNRIND]"
                            ng-click="saveResultIndicator(test.LBTEST, haematologyIndicator.indicators[test.LBNRIND]);"
                            ng-disabled="getDisabledFields()"
                            uib-btn-radio="'Abnormal'">
                        Abnormal</button>
                </div>
            </td>
            <!-- <td title="'Comments'" class="col-sm-5">
                <input type="text" class="form-control" ng-disabled="getDisabledFields()" />
            </td> -->
        </tr>
    </table>
</div>
