<div class="container-fluid marginTop" id="imageContent">

    <div class="panel-group" id="imageAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading myPanel" role="tab" id="headingScans">
                <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#imageAccordion" href="#collapseScans" aria-expanded="true" aria-controls="collapseOne">
                    Scans
                </h4>
            </div>
            <div class="panel-collapse collapse" id='collapseScans'>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Session Name</label>
                                <input type="text" class="form-control"
                                       ng-model="sessionLabel"
                                       ng-change="editProcedureDisplayLabel()"
                                       ng-disabled="lockDownSessionLabelValue()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Scans</label>
                                        <select class='form-control' ng-model="selectedScan"
                                                ng-options="scan.type for scan in scansTakenDuringExperiment" ng-change="selectScan()"
                                                multiple ng-disabled=true>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-default" href="{{dicomURL}}" target="_blank" role="button"
                                       ng-disabled=true>DICOM Parameters</a>
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-default" href="{{downloadURL}}" target="_blank" role="button"
                                       ng-disabled=true>Download</a>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-8'>
                            <div class="imagePanel panel panel-default">
                                <img ng-src="{{imageURL}}" ng-click="zoomImage()"
                                     ng-disabled=true />
                            </div>
                        </div>
                    </div>
                    <div class="row marginTop">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label ng-show="provideICOMETRIXSupport();">Scan Type</label>
                                <select class='form-control' ng-model="scanWeight" ng-show="provideICOMETRIXSupport();">
                                    <option>T1</option>
                                    <option>T2</option>
                                </select>
                            </div>
                        </div>
                        <div class ='col-sm-4'>
                            <div class="form-group">
                            <label for="dicomFiles" ng-show="provideICOMETRIXSupport();">DICOM volume</label>
                                <input type="file" id="dicomFiles" class="form-control"
                                onchange="angular.element(this).scope().dicomNameChanged(this)"
                                ng-show="provideICOMETRIXSupport();"
                                ng-disabled="scanWeight==''">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading myPanel" role="tab" id="headingMorphology">
                <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#imageAccordion" href="#collapseMorphology" aria-expanded="true" aria-controls="collapseOne">
                    Morphology
                </h4>
            </div>
            <div class="panel-collapse collapse in" id='collapseMorphology'>
                <div class="panel-body"> <!--Number of Lesions -->
                     <div class="row">
                        <div class='col-sm-4'>
                            <div class="form-group">
                                <label>Region</label>
                                <select class="form-control" ng-init="MOLOC = 'Brain';" ng-model="MOLOC" ng-change='displayNumLesionBasedOnLocation()'>
                                    <option>Brain</option>
                                    <option>Spine</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div ng-show='MOLOC=="Brain"'> <!--Number of Lesions -->
                        <div class="row">
                            <div class="col-sm-4">  <!-- Gd -->
                                <div class="panel panel-default">
                                    <div class="panel-heading myPanel">
                                        <h3 class="panel-title">T1 Hypointense Lesions</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class='form-group'>
                                            <div class="radio">
                                                <label class=""><input type="radio" ng-model="T1Lesions"
                                                                       ng-change="editLesionProperty('T1 Lesion Count Summary', T1Lesions)"
                                                                       value="Negative" ng-disabled="getDisabledFields()">
                                                    Negative
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="T1Lesions"
                                                              ng-change="editLesionProperty('T1 Lesion Count Summary', T1Lesions)"
                                                              value="Positive" ng-disabled="getDisabledFields()">
                                                    Positive
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="T1Lesions"
                                                              ng-change="editLesionProperty('T1 Lesion Count Summary', T1Lesions)"
                                                              value="Not Reported" ng-disabled="getDisabledFields()">
                                                    Not Reported
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">  <!-- T2 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading myPanel">
                                        <h3 class="panel-title">T2 Hyperintense Lesions</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class='form-group'>
                                            <div class="radio">
                                                <label class=""><input type="radio" ng-model="T2Lesions"
                                                                       ng-change="editLesionProperty('Lesion Count Summary', T2Lesions)"
                                                                       value="None" ng-disabled="getDisabledFields()">
                                                    None
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="T2Lesions"
                                                              ng-change="editLesionProperty('Lesion Count Summary', T2Lesions)"
                                                              value="Single" ng-disabled="getDisabledFields()">
                                                    Single
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="T2Lesions"
                                                              ng-change="editLesionProperty('Lesion Count Summary', T2Lesions)"
                                                              value="More than 9" ng-disabled="getDisabledFields()">
                                                     > 9
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="T2Lesions"
                                                              ng-change="editLesionProperty('Lesion Count Summary', T2Lesions)"
                                                              value="Less than or equal to 9" ng-disabled="getDisabledFields()">
                                                    <= 9
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="T2Lesions"
                                                              ng-change="editLesionProperty('Lesion Count Summary', T2Lesions)"
                                                              value="Multiple Not Specified" ng-disabled="getDisabledFields()">
                                                    Multiple Not Specified
                                                </label>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Count</span>
                                            <input type="text" class="form-control"
                                                   ng-model="T2LesionCount"
                                                   ng-disabled="getDisabledFields();"
                                                   ng-blur="editLesionProperty('Lesion Count', T2LesionCount)" />
                                        </div>
                                        <div class="input-group marginTop">
                                            <span class="input-group-addon">Volume</span>
                                            <input type="text" class="form-control"
                                                   ng-model="T2LesionVolume"
                                                   ng-disabled="getDisabledFields();"
                                                   ng-blur="editLesionProperty('Lesion volume', T2LesionVolume)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">  <!-- T1 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading myPanel">
                                        <h3 class="panel-title">Gd Enhancing Lesion</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="radio">
                                                <label class="control-label">
                                                    <input type="radio"  ng-model="GDLesions" value="None"
                                                           name="GdLesions" ng-change="editLesionProperty('Gd Enhancing Lesion Count Summary', GDLesions)"
                                                           ng-disabled="getDisabledFields()">
                                                    None
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="control-label">
                                                    <input type="radio" ng-model="GDLesions" value="Single"
                                                           name="GdLesions" ng-change="editLesionProperty('Gd Enhancing Lesion Count Summary', GDLesions)"
                                                           ng-disabled="getDisabledFields()">
                                                    Single
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="control-label">
                                                    <input type="radio" ng-model="GDLesions" value="Multiple" name="GdLesions"
                                                           ng-change="editLesionProperty('Gd Enhancing Lesion Count Summary', GDLesions)"
                                                           ng-disabled="getDisabledFields()">
                                                    Multiple
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label class="control-label">
                                                    <input type="radio" ng-model="GDLesions" value="Unknown" name="GdLesions"
                                                           ng-change="editLesionProperty('Gd Enhancing Lesion Count Summary', GDLesions)"
                                                           ng-disabled="getDisabledFields()">
                                                    Unknown
                                                </label>
                                            </div>
                                        </div>
                                        <div class = "form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Gd Lesion Volume</span>
                                                <input type="text" class="form-control"
                                                       ng-model="GdLesionVolume"
                                                       ng-disabled="getDisabledFields();"
                                                       ng-blur="editLesionProperty('Gd Enhancing Lesion Volume', GdLesionVolume)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show='MOLOC=="Spine"'> <!--Number of Lesions -->
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading myPanel">
                                    <h3 class="panel-title">T2</h3>
                                </div>
                                <div class="panel-body">
                                    <div class='form-group'>
                                        <div class="radio">
                                            <label class=""><input type="radio" ng-model="T2SpineLesions" ng-change="editLesionProperty('T2 Lesion', T2SpineLesions)" value="None" ng-disabled="getDisabledFields()">
                                                None
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label class=""><input type="radio" ng-model="T2SpineLesions" ng-change="editLesionProperty('T2 Lesion', T2SpineLesions)" value="Focal" ng-disabled="getDisabledFields()">
                                                Focal
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" ng-model="T2SpineLesions" ng-change="editLesionProperty('T2 Lesion', T2SpineLesions)" value="Multiple" ng-disabled="getDisabledFields()">
                                                Multiple
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" ng-model="T2SpineLesions" ng-change="editLesionProperty('T2 Lesion', T2SpineLesions)" value="Longitudinal Extensive" ng-disabled="getDisabledFields()">
                                                Longitudinal Extensive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading myPanel">
                                    <h3 class="panel-title">Gd</h3>
                                </div>
                                <div class="panel-body">
                                    <div class='form-group'>
                                        <div class="radio">
                                            <label class=""><input type="radio" ng-model="GdSpineLesions" ng-change="editLesionProperty('Gd Lesion', GdSpineLesions)" value="None" ng-disabled="getDisabledFields()">
                                                None
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label class=""><input type="radio" ng-model="GdSpineLesions" ng-change="editLesionProperty('Gd Lesion', GdSpineLesions)" value="Focal" ng-disabled="getDisabledFields()">
                                                Focal
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" ng-model="GdSpineLesions" ng-change="editLesionProperty('Gd Lesion', GdSpineLesions)" value="Multiple" ng-disabled="getDisabledFields()">
                                                Multiple
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" ng-model="GdSpineLesions" ng-change="editLesionProperty('Gd Lesion', GdSpineLesions)" value="Longitudinal Extensive" ng-disabled="getDisabledFields()">
                                                Longitudinal Extensive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/ng-template" id="zoomImage.html" >
        <div class="modal-header container-fluid">
            <div class="row">
                <div class="col-sm-11">
                    <h4 class="modal-title">{{getDesc()}}</h4>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" ng-click="ok()">Close</button>
                </div>
            </div>
        </div>
        <div class="modal-body container-fluid">
            <div class="row">
                <div class="col-sm-11">
                    <input type="range" id="slice-range">
                </div>
                <div class="col-sm-1">
                    <img id="spinner" ng-src="./scripts/css/images/spinner.gif" ng-show="getLoadingStatus()" height="">
                </div>
            </div>
            <div class="row marginTop">
                <div class="col-sm-12">

                    <!--<div style="width:712px;height:712px;position:relative;display:inline-block;color:white;" -->
                    <div oncontextmenu="return false"
                         class='cornerstone-enabled-image'
                         unselectable='on'
                         onselectstart='return false;'
                         onmousedown='return false;'>
                        <div id="imageDOM"> <!--style="width:979px;height:629px;display:block;margin-left:auto;margin-right:auto"-->
                        </div>
                        <div id="mrtopleft" style="position: absolute;top:3px; left:100px; color:white">
                            <p>Optimise ID</p>
                        </div>
                        <div id="mrtopright" style="position: absolute;top:3px; right:100px; color:white">
                            Hospital
                        </div>
                        <div id="mrbottomright" style="position: absolute;bottom:6px; right:100px; color:white">
                            <div id="frameRate"></div>
                            <div id="zoomText"><p>Zoom: </p></div>
                            <div id="sliceText"><p>Image: </p></div>
                        </div>
                        <div id="mrbottomleft" style="position: absolute;bottom:20px; left:100px; color:white">
                            <p>WW/WC:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Closer</button>
        </div>
        -->
    </script>
</div>
