.error {
    display: block;
    width: 100%;
    line-height: 2em;
    background-color: var(--color-error);
    color: var(--color-font-active);
    padding: 0.5em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.success {
    display: block;
    width: 100%;
    line-height: 2em;
    background-color: rgb(25, 75, 25);
    color: var(--color-font-active);
    padding: 0.5em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.ariane {
    grid-area: ariane;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

.ariane > div {
    position: absolute;
    padding: 1.2em;
    top: 0;
    right: 0;
}

.ariane a {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em;
    font-size: 1.1em;
}

.ariane span {
    width: 1.3em;
    margin-left: 1.2em;
    display: inline-block;
}

.ariane span:hover {
    cursor: pointer;
}

.ariane svg {
    fill: hsl(var(--color-background-h), var(--color-background-s), 50%);
}
.ariane a:hover svg,
.ariane span:hover svg {
    fill: hsl(var(--color-background-h), var(--color-background-s), 20%);
}

.panel {
    grid-area: panel;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    display: grid;
    width: 100%;
    height: 100%;
}

.activeNavLink > button {
    background-color: var(--color-active-nav);
}

.activeNavLink > button:hover {
    background-color: var(--color-active-nav);
}

.actionsMenu {
    grid-column: 1/2;
    overflow: auto;
    height: 100%;
    padding: 1.2em;
}

.actionsDisplay {
    grid-column: 2/3;
    padding: 1.2em;
    height: 100%;
    overflow: auto;
    border-left: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}

/*
.actionsDisplay > div {
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
    padding: 0.9em;
}
*/

.logCard {
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
    padding: 0.9em;
}

.logLoadMore button {
    display: inline-block;
    text-align: center;
}

.actionsDisplay > a > div {
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
    padding: 0.9em;
}

.actionsDisplay > a > .clickable:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 95%);
    cursor: pointer;
}

.actionOther {
    display: inline-block;
}

.actionBody {
    background-color: hsl(var(--color-shade-one-h), var(--color-shade-one-s), 97%);
    padding: 1em;
    overflow: auto;
    margin-top: 0.5em;
}

.actionOther, .actionBody {
    overflow: auto;
    max-width: 100%;
    line-height: 1.8em;
}


.userDetailPanel {
    grid-area: panel;
    grid-template-rows: 100%;
    display: grid;
    width: 100%;
    height: 100%;
}

.userDetail {
    height: 100%;
    overflow: auto;
    padding: 1em;
}

.packageName {
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-top: -0.2em;
    background-color: hsl(var(--color-shade-one-h), var(--color-shade-one-s), 97%);
}

.userFeature {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    transition: padding 100ms;
}

.userFeature:hover {
    background-color: hsl(var(--color-background-h), var(--color-background-s), 93%);
    padding-left: 1em;
    padding-right: 1em;
}

.userFeature:hover input {
    background-color: white;
}