/* Buttons are defined as those that has a styling specific to when hovered over; not necessarily have to have click listener */

.menuButton {
    fill: darkgrey;
    text-align: center
}

.menuButton:hover {
    fill: white;
}

.patientBanner {
    color: black;
    border-radius: 0px;
    font-family: sans-serif;
    font-size: 100%;
    min-height: 1em;
    margin: 0;
    width: calc(100%);
    padding: 0.5em 1.5em;
    text-align: left;
}

.patientBanner:hover {
    background-color: #ff5151;
    cursor: pointer;
    color: white;
}

.adminActionButtonClicked div{
    background-color: #ff5151;
    color: white;
}

.patientBanner .matchedString {
    color: #ff3737
  }

.patientBanner:hover .matchedString {
    color: white;
  }

.createPatientButton {
    background-color: #ff5151;
    border-radius: 20px;
    margin: 13px auto;
    height: 1.5em;
    line-height: 1.5em;
    width: 80%;
    padding: 0 1.5em;
    text-align: center;
    overflow: hidden;
}

.createPatientButton:hover {
    color: #f5f6fa;
    background-color: #EA2027;
    cursor: 'pointer'
}

.userActionButton {
    position: relative;
    background-color: #E7E5E6;
    width: 3em;
    float: left;
    max-height: 2em;
    padding:  0.4em;
    text-align: center;
    border-radius: 6px;
}

.dataSubmitButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.resetButton {
    cursor: pointer;
    text-decoration: underline
}

.NavLink {
    cursor: pointer;
    display: table;
    text-decoration: none;
}

.NavLink:visited {
    color: black;
}

.NavLink:link {
    color: black;
}

.dataResultButton {
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 2px;
    background-color: lightgrey;
    overflow: hidden;
    max-width: 5em;
}
