.App {
    display: grid;
    grid-template-columns: 48px 6fr 11fr 15fr;
    grid-template-rows: 1fr 15px;
    height: 100%;
    color: #363A3B;
    font-family: sans-serif;
    background-color: #f5f6fa
}

.MenuBar {
    background-color: #3a3c46;
    display: grid;
    grid-template-rows: 30px 52px 52px 55px 52px 52px 1fr 50px;
    grid-template-columns: 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.LeftPanel {
    background-color: #E7E5E6;
    grid-column: 2/3;
    grid-row: 1/2;
    overflow: auto;
}

.MiddlePanel {
    background-color: #f2f2f2;
    grid-column: 3/4;
    grid-row: 1/2;
    overflow: auto;
    height: 100%;
}

.RightPanel {
    background-color: #E7E5E6;
    grid-column: 4/5;
    grid-row: 1/2;
    overflow: auto;
    padding-left: 8%;
    padding-right: 8%
}

.StatusBar {
    background-color: #ff5151;
    font-size: 12px;
    overflow: hidden;
    color: white;
    grid-column: 1/5;
    grid-row: 2/3;
}

.patientChart {
    display: grid; 
    grid-row: 1/2;
    grid-column: 2/4;
    grid-template-rows: 65px 1fr;
    min-height: 0;
    min-width: 0;
    height: 100%;
}

.patientChartTop {
    padding-top: 2%;
    padding-bottom: 2%;
    grid-row: 1/2;
    padding-left: 3%;
    padding-right: 3%
}

.patientChartBody {
    grid-row: 2/3;
    overflow: auto;
    padding-left: 3%;
    padding-right: 3%;
    height: 100%
}