.timelineBox {
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    width: 100%;
    height: 130px;
    display: grid;
    padding: 7px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}