<!DOCTYPE html>
<!-- <html manifest="optimise.appcache?v=V0.0.56"> -->
<html>

<head>
  <title>OPTIMISE</title>
  <meta http-equiv="cache-control" content="no-cache,no-store,must-revalidate">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link rel="stylesheet" href="./scripts/css/timeline.css">
  <link rel="stylesheet" href="./scripts/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="./scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="./scripts/css/testLayout.css">
  <link rel="stylesheet" href="./scripts/css/angular.rangeSlider.css">
  <link rel="stylesheet" href="./scripts/css/ng-table.min.css">
  <link rel="stylesheet" href="./scripts/css/textAngular.css">
  <link rel="stylesheet" href="./scripts/css/font-awesome.min.css">
  <link rel="stylesheet" href="./scripts/css/select2.full.css">
</head>

<body class style="overflow: hidden" ng-app="Optimise">
  <div id="wrapper" ng-controller="headerCtrl">
    <div ng-init="contentOnDisplay='Patient';">
      <header>
        <div class="container-fluid">
          <div class="row">
            <!-- <div class="doubleMarginTop col-sm-4" style="visibility:hidden;">
              <div class="form-inline">
                <div class="btn-group-sm" role="group">
                  <button type="button" class="btn btn-primary" ng-model="sourceMode" ng-class='{inactive: sourceMode != "internet"}' ng-show="connectionAvailable()"
                    uib-btn-radio="'internet'">
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>Cloud</button>
                  <button type="button" class="btn btn-primary" ng-model="sourceMode" ng-class='{inactive: sourceMode != "computer"}' uib-btn-radio="'computer'">
                    <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>Local</button>
                </div>
              </div>
            </div> -->
            <form style="position: absolute; padding-top: 28px;" ng-show="navigatorIsOnline()">
              <h2>OPTIMISE <sup style="font-size: 10px; line-height: 10px;">v0.3.4</sup></h2>
              <div id="exoticlogin" class="form-inline" ng-hide='authenticatedStatus == "Logged In"'>
                <div class="loaderwrap"><div class="loader"></div></div>
                <span style="font-size: 18px; color: #002670">Hello, please log in !</span>
                <br/>
                <input type="text" class="form-control" ng-model="UserName" placeholder="Username">
                <br/>
                <input type="password" class="form-control" ng-model="Password" placeholder="Password" autocomplete="current-password">
                <br/>
                <button type="submit" class="btn btn-default" ng-click="authenticate()">{{authenticatedStatus}}</button>
              </div>
              <!-- <span ng-show='authenticatedStatus == "Logged In"'>Welcome, you are logged in</span> -->
            </form>
            <div style="position: absolute; padding-top: 15px; min-width: 930px;" ng-show='authenticatedStatus == "Logged In"'>
              <h2 style="margin-right: 30px;">OPTIMISE <sup style="font-size: 10px; line-height: 10px;">v0.3.4</sup></h2>
              <!-- <button type="button" class="btn-lg btn-mainnav" ng-click="openDepository()" ng-disabled="disableEntry()">Search patients</button> -->
              <button type="button" class="btn-lg btn-mainnav" ng-click="openSearch()" ng-disabled="disableEntry()">Search patients</button>
              <button type="button" class="btn-lg btn-mainnav" ng-click="newPatient()" ng-disabled="disableEntry()">New patient</button>
              <button type="button" class="btn-lg btn-mainnav" ng-click="openAppointments()" ng-disabled="disableEntry()">View all reminders</button>
              <button type="button" class="btn-lg btn-mainnav" ng-click="downloadToDrive()" ng-disabled="disableEntry()">Full dataset export</button>
              <button type="button" class="btn-lg btn-mainnav" ng-click="logout()" ng-disabled="disableEntry()">Logout</button>
              <br/>
              <br/>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div id="mainContent" ng-show='authenticatedStatus == "Logged In"'>
      <div id="navigation" class="container-fluid">
        <ul class="nav nav-tabs" role="tablist" ng-hide="!thereIsAPatient()">
          <li role="presentation" class="active" ng-class="{active: isActiveContent('Patient')}">
            <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Patient'; setContent();">Profile</a>
          </li>
          <li role="presentation" ng-class="{active: isActiveContent('Timeline')}">
            <a href="#" ng-class="{active: isActiveContent('Timeline')}" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Timeline'; setContent(); ">Timeline</a>
          </li>
          <li role="presentation" ng-class="{active: isActiveContent('Visit')}">
            <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Visit'; setContent();">Visits
              <span class="badge">{{getNumVisits()}}</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: isActiveContent('Relapse')}">
            <a id="relapseID" href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Relapse'; setContent();">Clinical Events
              <span class="badge">{{getNumRelapses()}}</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: isActiveContent('Test')}">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tests
              <span class="badge">{{getNumCollections()}}</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-class="{active: isActiveTest('Laboratory Tests')}">
                <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Test'; setTestIndexForLab('Laboratory Tests'); setContent(); ">Laboratory
                  <span class="badge">{{getNumLab()}}</span>
                </a>
              </li>
              <li ng-class="{active: isActiveTest('Evoked Potential')}">
                <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Test'; setTestIndexForLab('Evoked Potential'); setContent(); ">Evoked Potential
                  <span class="badge">{{getNumVEP()}}</span>
                </a>
              </li>
              <li ng-class="{active: isActiveTest('Magnetic Resonance Imaging')}">
                <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Test'; setTestIndexForLab('Magnetic Resonance Imaging'); setContent(); ">Magnetic Resonance Imaging
                  <span class="badge">{{getNumMRI()}}</span>
                </a>
              </li>
              <li ng-class="{active: isActiveTest('Cerebrospinal Fluid')}">
                <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Test'; setTestIndexForLab('Cerebrospinal Fluid'); setContent(); ">Cerebrospinal Fluid
                  <span class="badge">{{getNumCSF()}}</span>
                </a>
              </li>
            </ul>
          </li>
          <!--<li role="presentation" ng-class="{active: isActiveContent('Questionnaire')}" -->
          <!--<a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Questionnaire'; setContent();">Proms <span class="badge">{{getNumQuestionnaires()}}</span></a></li>-->
          <li role="presentation" ng-class="{active: isActiveContent('Exposure')}">
            <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Exposure'; setContent();">Treatments
              <span class="badge">{{getNumExposures()}}</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: isActiveContent('Reminders')}">
            <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Reminders'; setContent();">Reminders
              <span class="badge"></span>
            </a>
          </li>
          <!-- <a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Reminders'; setContent();">Reminders <span class="glyphicon glyphicon-bell"></span></a></li> -->
          <!--<li role="presentation" ng-class="{active: 'Medical Event'}" >-->
          <!--<a href="#" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Medical Event'; setContent();">Medical Events <span class="badge">{{getNumEvents()}}</span></a>-->
          <!--<li role="presentation"><a href="#" ng-class="{active: 'Test')" role="tab" data-toggle="tab" ng-click="contentOnDisplay='Test'; setContent();">Tests <span class="badge">{{getNumCollections()}}</span></a></li>  </li>-->
        </ul>
      </div>
      <div id="events" class="container-fluid" ng-hide="isActiveContent('Patient')">
        <div class="eventStatus" ng-show="thereIsAPatient()&&showEventsBar()">
          <div class="row" ng-show="enableNewDate()&&(contentOnDisplay=='Relapse')" style="padding-top: 15px;">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control DTC_MonthYear" ng-class="{fillThisFirst: newEventDate==''}" ng-disabled="disableChangesToDate()"
                  ng-model="newEventDate" ng-change="setNewFormDate();">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="row" ng-show="enableNewDate()&&(contentOnDisplay!='Relapse')" style="padding-top: 15px;">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control DTC_DayMonthYear" ng-disabled="disableChangesToDate()" ng-model="newEventDate" ng-class="{fillThisFirst: newEventDate==''}"
                  ng-change="setNewFormDate();">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="padding: 0;">
              <div class="table-responsive">
                <table id="eventsTable" class="table">
                  <thead>
                    <tr>
                      <!-- <th>#</th> -->
                      <th style="padding-left: 15px; line-height: 30px;">{{contentOnDisplay}}</th>
                      <!--<th colspan="1"><linkButton ng-click="setNewForm()"-->
                      <!--ng-disabled="true"-->
                      <!--ng-hide='contentOnDisplay=="Questionnaire"'>New</linkButton></th>-->
                      <th style="text-align: right;">
                        <a ng-show="thereIsAPatient()" style="padding-right: 15px; line-height: 30px; text-align: right;" href="#" ng-click="setNewForm()" ng-hide='(contentOnDisplay=="Questionnaire")||(contentOnDisplay=="Reminders")'>New</a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="event in getEventDates()" id={{event.DOMAIN}}-{{$index}} ng-click="setSelected(event); selectEvent(event);"
                      ng-class="{selected: isSelected(event, getEventDates().length)}">
                      <!-- <td>{{$index+1}}</td> -->
                      <td>
                        <!--<span style="padding-left: 15px; line-height: 30px;">{{event.displayLabel | limitTo : 10}}</span><br/>-->
                        <span style="padding-left: 15px; line-height: 30px;">{{event.displayLabel}}</span><br/>
                        <span style="padding-left: 15px; line-height: 30px;">{{event.displayDate}}</span>
                      </td>
                      <td style="text-align: right;">
                          <span style="padding-left: 15px; line-height: 30px;">&nbsp;</span><br/>
                        <a href="#" ng-click="deleteEvent(event)" style="padding-right: 15px; line-height: 30px; text-align: right;">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="searchStatus" ng-show="('Patient'== contentOnDisplay)">

          <script type="text/ng-template" id="newPatient.html">

            <div class="modal-header">
              <h3 class="modal-title">
                New Patient
              </h3>
            </div>

            <div class="modal-body">

              <form name="idForm" ng-submit="submitForm()" novalidate>

                <div class="container-fluid" ng-show="actionMode=='New'">

                  <div class="row marginTop">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-group marginTop">
                          <label class="control-label" for="newId">ID</label>
                          <input type="text" name="newId" class="form-control" ng-model="NHS_USUBJID" placeholder="eg. 123-456-7890" required>
                          <span ng-show="idForm.$invalid" class="help-block">The ID is required.</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row doubleMarginTop">
                      <label class="control-label">Does the patient give consent for their data to be shared?</label>
                      <div class="form-group marginTop">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-default" ng-class="{active: consentGiven==true}" ng-click="consentGiven=true;">Yes</button>
                          <button type="button" class="btn btn-default" ng-class="{active: consentGiven==false}" ng-click="consentGiven=false;">No</button>
                        </div>
                      </div>
                  </div>
                          
                </div>
                
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-disabled="!okToProceed() || idForm.$invalid">Create new patient</button>
                </div>
                  
              </form>
              
              <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>

            </div>

          </script>

          <script type="text/ng-template" id="appointments.html">
              <div class="modal-lg">
                <div class="modal-content" style="width:900px">
                  <div class="modal-header">
                    <h3 class="modal-title">
                      Reminders</h3>
                    </div>
                    <div class="modal-body container-fluid">
                      <div class="row">
                        <div class="col-lg-12">
                          <table ng-table="tableParams" class="table">
                            <tr ng-repeat="reminder in $data">
                              <td title="'OPT ID'"class="columnValuesCentered">{{reminder.id}}</a></td>
                              <td title="'Last '" class="columnValuesCentered">{{reminder.last}}</td>
                              <td title="'Due'" class="columnValuesCentered">{{reminder.due}}</td>
                              <td title="'Notes'" class="columnValuesCentered">{{reminder.notes}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                  </div>
                </div>
            </script>
          <script type="text/ng-template" id="search.html">
              <div class="modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">
                      Search
                    </h3>
                    </div>
                    <div class="modal-body container-fluid">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="search-field-criteria">
                          </div>
                          <select class="search-field-select" name="state" style="width:100%;"></select><br/><br/>
                          <table ng-table="tableParams" class="table" show-filter="false">
                            <tr ng-repeat="subject in $data">              
                              <td title="'Optimise ID'" filter="{ opt_id: 'text'}" sortable="'opt_id'">
                                <a href="#" ng-click="loadSubjectData(subject.opt_id)">{{subject.opt_id}}</a>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="export()">Export Subset</button>
                        <button class="btn btn-warning" ng-click="cancel()">Close</button>
                    </div>
                  </div>
                </div>
                  
            </script>
          <script type="text/ng-template" id="depository.html">
              <div class="modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">
                      <span class="glyphicon glyphicon-book">Depository</span>
                    </h3>
                    </div>
                    <div class="modal-body container-fluid">
                      <div class="row">
                        <div class="col-lg-12">
                          <table ng-table="tableParams" class="table" show-filter="true">
                            <tr ng-repeat="subject in $data">
                              <td title="'CDISC FIELD'" filter="{ cdiscfield: 'text' }" >
              
                                <td title="'OPT ID'" filter="{ opt_id: 'text'}" sortable="'opt_id'">
                                  <a href="#" ng-click="loadSubjectData(subject.opt_id)">{{subject.opt_id}}</a></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-warning" ng-click="cancel()">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  
            </script>
          <script type="text/ng-template" id="config.html">
              <div class="modal-header">
                <h3 class="modal-title">Content Selection</h3>
              </div>
              <div class="modal-body">
                <config-entry ng-controller="configCtrl"></config-entry>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
            </script>
          <script type="text/ng-template" id="newInterest.html">
              <div class="modal-header">
                <h3 class="modal-title">Register Your Interest</h3>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="interestName">Name</label>
                    <input type="text" class="form-control" id="interestName"
                    ng-model="interestName"
                    placeholder="May Yong">
                  </div>
                  <div class="form-group">
                    <label for="interestEmail">Email</label>
                    <input type="email" class="form-control" id="interestEmail"
                    ng-model="interestEmail"
                    placeholder="myong@imperial.ac.uk">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Register Interest</button>
                <button class="btn btn-warning" ng-click="cancel()">Skip</button>
              </div>
            </script>
        </div>
        <div class="selectStatus" ng-show="('Timeline'== contentOnDisplay)">
          <div>
            <input id="btnInTreat" type="checkbox" ng-model="showTreatments">
            <label for="btnInTreat" class="control-label">Treatments</label>
          </div>
          <div>
            <input id="btnInVisits" type="checkbox" ng-model="showVisits">
            <label for="btnInVisits" class="control-label">Visits</label>
          </div>
          <div>
            <input id="btnInTests" type="checkbox" ng-model="showTests">
            <label for="btnInTests" class="control-label">Monitoring</label>
          </div>
          <div>
            <input id="btnInRelapses" type="checkbox" ng-model="showRelapses">
            <label for="btnInRelapses" class="control-label">Relapses</label>
          </div>
          <div>
            <input id="btnInEDSS" type="checkbox" ng-model="showEDSS">
            <label for="btnInEDSS" class="control-label">EDSS</label>
          </div>
          <div>
            <input id="btnInMSQOL" type="checkbox" ng-model="showMSQOL">
            <label for="btnInMSQOL" class="control-label">MSQOL</label>
          </div>
        </div>
      </div>
      <div id="section" class="container" ng-class="{extend: isActiveContent('Patient')}">
        <div timeline-entry ng-controller="timelineCtrl" ng-show="showThisContent()">
        </div>
        <!-- Patient -->
        <div patient-entry ng-controller="patientInfoCtrl" ng-show="showThisContent()">
        </div>
        <!-- Visit-->
        <div visit-entry ng-controller="visitInfoCtrl" ng-show="showThisContent()">
        </div>
        <!-- Relapse -->
        <div relapse-entry ng-controller="relapseInfoCtrl" ng-show="showThisContent()">
        </div>
        <!-- Clinical Event -->
        <div event-entry ng-controller="eventInfoCtrl" ng-show="showThisContent()">
        </div>
        <!-- Intervention -->
        <div exposure-entry ng-controller="exposureInfoCtrl" ng-show="showThisContent()">
        </div>
        <!-- Laboratory -->
        <div laboratory-entry ng-controller="laboratoryInfoCtrl" ng-show="showThisContent()">
        </div>
        <!-- Laboratory -->
        <div questionnaire-entry ng-controller="questionnaireInfoCtrl" ng-show="showThisContent()">
        </div>
        <!--Communication -->
        <div reminder-entry ng-controller="reminderInfoCtrl" ng-show="showThisContent()">
        </div>
        <div id="nopatientcover" ng-hide="thereIsAPatient()">Select or create a patient to continue !
        </div>

      </div>
    </div>
  </div>
  <script src="./scripts/vendor/jquery.min.js"></script>
  <script src="./scripts/vendor/jquery-ui.min.js"></script>
  <script src="./scripts/vendor/jquery.csv-0.71.min.js"></script>
  <script src="./scripts/vendor/angular.min.js"></script>
  <script src="./scripts/vendor/angular-resource.min.js"></script>
  <script src="./scripts/vendor/ui-bootstrap-tpls-1.2.5.min.js"></script>
  <script src="./scripts/vendor/d3.min.js"></script>
  <script src="./scripts/vendor/angular.rangeSlider.js"></script>
  <script src="./scripts/vendor/ng-table.min.js"></script>
  <script src="./scripts/vendor/bootstrap-datepicker.min.js"></script>
  <script src="./scripts/vendor/bootstrap.min.js"></script>
  <script src="./scripts/vendor/FileSaver.min.js"></script>
  <script src="./scripts/vendor/jspdf.min.js"></script>
  <script src="./scripts/js/main.js"></script>
  <script src="./scripts/js/view/view.module.js"></script>
  <script src="./scripts/js/clinicalEvent/clinicalEvent.module.js"></script>
  <script src="./scripts/js/findingAbout/findingAbout.module.js"></script>
  <script src="./scripts/js/header/header.module.js"></script>
  <script src="./scripts/js/medicalHistory/medicalHistory.module.js"></script>
  <script src="./scripts/js/patient/patient.module.js"></script>
  <script src="./scripts/js/procedure/procedure.module.js"></script>
  <script src="./scripts/js/questionnaire/questionnaire.module.js"></script>
  <script src="./scripts/js/relapse/relapse.module.js"></script>
  <script src="./scripts/js/subjectVisit/subjectVisit.module.js"></script>
  <script src="./scripts/js/relationship/relationship.module.js"></script>
  <script src="./scripts/js/exposure/exposure.module.js"></script>
  <script src="./scripts/js/event/event.module.js"></script>
  <script src="./scripts/js/timeline/timeline.module.js"></script>
  <script src="./scripts/js/substanceUse/substanceUse.module.js"></script>
  <script src="./scripts/js/subjectCharacteristic/subjectCharacteristic.module.js"></script>
  <script src="./scripts/js/clinicalEvent/symptoms.module.js"></script>
  <script src="./scripts/js/clinicalEvent/signs.module.js"></script>
  <script src="./scripts/js/view/config.module.js"></script>
  <script src="./scripts/js/view/configurations.module.js"></script>
  <script src="./scripts/js/record/record.module.js"></script>
  <script src="./scripts/js/laboratory/laboratory.module.js"></script>
  <script src="./scripts/js/laboratory/mri.module.js"></script>
  <script src="./scripts/js/laboratory/cerebrospinal.module.js"></script>
  <script src="./scripts/js/associatedPerson/associatedPersonMedicalHistory.module.js"></script>
  <script src="./scripts/js/ImmunogenicitySpecimenAssessment/isa.module.js"></script>
  <script src="./scripts/js/vitalSigns/vitalSigns.module.js"></script>
  <script src="./scripts/js/nervousSystemFindings/nervousSystemFindings.module.js"></script>
  <script src="./scripts/js/XNAT/connectivity.module.js"></script>
  <script src="./scripts/js/morphology/morphology.module.js"></script>
  <script src="./scripts/js/clinicalEvent/adverseEvent.module.js"></script>
  <script src="./scripts/js/deviceInUse/deviceInUse.module.js"></script>
  <script src="./scripts/js/communication/communication.module.js"></script>
  <script src="./scripts/js/communication/reminders.module.js"></script>
  <script src="./scripts/vendor/cornerstone.min.js"></script>
  <script src="./scripts/vendor/dicomParser.min.js"></script>
  <script src="./scripts/vendor/jpx.min.js"></script>
  <script src="./scripts/vendor/cornerstoneWADOImageLoader.js"></script>
  <script src="./scripts/vendor/cornerstoneMath.min.js"></script>
  <script src="./scripts/vendor/cornerstoneTools.js"></script>
  <script src="./scripts/vendor/textAngular-rangy.min.js"></script>
  <script src="./scripts/vendor/textAngular-sanitize.min.js"></script>
  <script src="./scripts/vendor/textAngular.min.js"></script>
  <script src="./scripts/vendor/select2.full.min.js"></script>
  <!--<script src="./scripts/vendor/angular-dragdrop.min.js"></script>-->
</body>

</html>