.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 30% 60%;
    grid-template-rows: 100%;
    grid-template-areas:
        "create list"
}

.create_element_panel, .list_element_panel {
    height: 100%;
    padding: 1rem;
    width: 100%;
    overflow: auto;
}

.create_element_panel {
    grid-area: create;
    padding-left: 0;
}

.list_element_panel {
    grid-area: list;
    border-left: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
    padding-right: 0;
}

.treatment_table td,
.treatment_table th {
    height: 1.3em;
    line-height: 1.3em;
}
