name: Node CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]
        node: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node }} on ${{ matrix.os }}
      uses: actions/setup-node@v1
      with:
        node: ${{ matrix.node }}
    - name: yarn install and build
      run: |
        yarn install
        yarn install --g lerna
        lerna run build --if-present
      env:
        CI: true
