.ariane {
    grid-area: ariane;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2em;
    border-bottom: 0.1em solid hsl(var(--color-background-h), var(--color-background-s), 90%);
}


.ariane .profileActions {
    position: absolute;
    padding: 1.4em;
    top: 0;
    right: 0;
    display: inline-block;
}

.profileActions a {
    line-height: 1.2em;
    display: inline-block;
}

.panel {
    grid-area: panel;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 1.2em 1.2em 1.2em;
    overflow: auto;
    overflow-x: hidden;
}

.panel > *:first-child {
    margin-top: 1.2em;
}

.panel a {
    line-height: 1.8em;
}

.panel:not(.right) a {
    color: var(--color-accent);
}

.panel a:hover {
    color: var(--color-shade-one);
}

.panel a.active {
    font-weight: bold;
}

.panel a[class="anchor"] {
    display: block;
    width: 1px;
    height: 1px;
}

.panel p {
    line-height: 1.8em;
    padding-bottom: 1em;
    text-align: justify;
}

.panel p img {
    display: inline;
    vertical-align: middle;
    max-width: 100%;
}

.panel p img[alt*="bordered"], .bordered {
    box-shadow: 0px 0px 10px 0px #888888;
    margin: 1em 0;
}

.panel h1 {
    padding: 1.2em;
    margin: 0 -1.2em 1em -1.2em;
    background-color: #eeeeee;
    font-size: 1.1em;
    text-transform: uppercase;
    position: sticky;
    top: 0;
}

.panel blockquote {
    padding: 20px 20px 0 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-color: #1b809e;
    border-left-width: 5px;
    border-radius: 3px;
}

.panel ul {
    list-style: none;
}
